// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/vue-multiselect/dist/vue-multiselect.min";

/* ==================================================
  General
  ================================================== */
* {
    font-family: "AppleEN", 'AppleTC-Medium', 'Noto Sans TC', "Raleway", Helvetica, Arial, sans-serif;
}

.bg-primary, .card-header {
    background-image: url("../img/table.png");
    background-size: cover;
}
input:not([type=checkbox]):not([type=radio]) {
    min-height: 40px;
    padding: 0px 13px;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    width: 100%;
    color: #35495e;
    &:not(.form-control) {
        border: 1px solid #e8e8e8;

    }
}

.cursor-pointer{
    cursor:pointer;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

navbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-word;
}

p {
    line-height: 1.55;
    font-size: 400%;
    color: $text-color;
}

.bootstrap-original p {
    line-height: inherit;
    font-size: inherit;
    color: white;
}

h1 {
    font-size: 62px;
    @media (max-width: map-get($grid-breakpoints, "lg")) {
        font-size: 48px;
    }

    @media (max-width: map-get($grid-breakpoints, "sm")) {
        font-size: 32px;
    }
}

h2 {
    font-size: 30px;
    margin-bottom: 65px;
    background-image: url(../img/table.png);
    background-size: cover; 
    border-radius: 20px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    &:hover {
        text-decoration: none !important;
    }
}
table, ul, ol{
    color: white;
}

/* ==================================================
  Elements
  ================================================== */

html, body {
    background-image: url("../img/bg.png");
    background-size: cover;
    min-height: 100vh;
}

.btn:not(.bootstrap-original) {
    background-color: $primary;
    font-weight: 800;
    color: $text-color;
    padding: 15px 45px;
    border-radius: 50px;

    &:hover {
        background-color: #E04F00;
        color: $text-color;
    }

    &:focus {
        color: $text-color;
    }
}

.btn-ghost:not(.bootstrap-original) {
    border: 3px solid #fff;
    background-color: transparent;

    &:hover {
        background-color: #fff;
        color: $primary;
    }
}

section {
    padding: 85px 0;
}

.card {
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;
}

.scrolltop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: $primary;
    color: $text-color;
    text-align: center;
    font-size: 24px;
    &:hover,
    &:active,
    &:focus {
        color: #fff !important;
        opacity: .75;
    }
}

/* ==================================================
  Hero Styling
================================================== */

.hero {
    display: table;
    position: relative; // background-color: white; 
    background-image: url(../img/banner.png);
    background-size: cover;
    padding: 150px 0;
    color: $text-color;
    width: 100%;
    height: 100vh;
    background-position-x: 70% !important;

    .container {
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        >.row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .hero-brand {
        margin-bottom: 75px;
        display: inline-block;
        posotion: relative;
        a {}

        &:hover {
            opacity: 1;
        }
    }
    .hero-brand,
    h1,
    .tagline {
        color: $white;
        text-shadow: 2px 2px 4px rgba($text-color, 0.83);
    }

    .tagline {
        font-size: 26px;
        margin: 45px 0 75px 0;
        color: $text-color;
    }
}

/* ==================================================
  Header Styling
================================================== */

#header {
    background: $primary;
    height: 70px;
    @media (max-width: map-get($grid-breakpoints, "lg")) {
        height: 50px;
    }
    #logo {
        margin: 14px 25px 0 0;
        @media (max-width: map-get($grid-breakpoints, "lg")) {
            margin: 10px 0 0 0;
        }
        h1 {
            @media (max-width: map-get($grid-breakpoints, "lg")) {
                padding: 2px 0;
                font-size: 26px;
            }

            @media (max-width: map-get($grid-breakpoints, "sm")) {
                padding: 5px 0;
                font-size: 20px;
            }

            font-size: 30px;
            margin: 0;
            padding: 5px 0;
            line-height: 1;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;

            a {
                &,
                &:hover {
                    color: $text-color;
                }
            }
        }
        img {
            padding: 0;
            margin: 0;
            max-height: 40px;
            @media (max-width: map-get($grid-breakpoints, "lg")) {
                max-height: 30px;
            }
        }
    }
    .social-nav {
        margin-top: 15px;
        a {
            font-size: 24px;
            margin-left: 15px;
            color: $text-color;
            &:hover {
                color: rgba(0, 0, 0, 0.75);
                img {
                    filter: invert(100%);
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

#nav-menu-container {
    margin: 0;
    position: absolute;
    right: 0;

    @media (max-width: map-get($grid-breakpoints, "lg")) {
        display: none;
    }
    >ul {
        &,
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        &>li {
            float: left;
        }
        ul {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            z-index: 99;
            ul {
                top: 0;
                left: -100%;
            }
            li {
                min-width: 180px;
            }
        }
        li {
            position: relative;
            white-space: nowrap;
            &:hover,
            &.sfHover {
                >ul {
                    display: block;
                }
            }
        }
        /* Nav Menu Arrows */
        >.menu-has-children {
            padding-right: 20px;
            >svg {
                padding: 4px;
                font-size: 1.5rem;
                color: $text-color;
                top: 50%;
                transform: translateY(-40%);
            }
            svg {
                position: absolute;
                right: 0;
                margin-left: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
            ul {
                .menu-has-children svg {
                    padding: 5px;
                    font-size: 2rem;
                    color: #000;
                    height: 25px;
                    margin-top: 9px;
                    margin-bottom: 9px;
                }
                a:hover,
                li:hover>a {
                    color: rgba(0, 0, 0, 0.75);
                }
                .menu-active>a {
                    color: rgba($primary, 0.75);
                }
            }
        }
        /* Nav Meu Styling */
        a:hover,
        li:hover>a,
        .menu-active>a {
            color: rgba(255, 255, 255, 0.75);
        }
        a {
            padding: 22px 15px 18px 15px;
            text-decoration: none;
            display: inline-block;
            color: $text-color;
            font-weight: 300;
            font-size: 15px;
            outline: none;
            width: 100%;
        }
        ul {
            margin: 4px 0 0 15px;
            -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
            li {
                background: #fff;
                border-top: 1px solid #f4f4f4;
                &:first-child {
                    border-top: 0;
                }
                &:hover {
                    background: $primary;
                    -webkit-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;
                }
                a {
                    color: black;
                    -webkit-transition: none;
                    -o-transition: none;
                    transition: none;
                    padding: 10px 15px;
                    &:hover {
                        color: $text-color;
                    }
                }
            }
            ul {
                margin: 0;
            }
        }
    }
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 8px 10px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    svg {
        color: $text-color;
    }
    @media (max-width: map-get($grid-breakpoints, "lg")) {
        display: inline;
    }
}

body.mobile-nav-active {
    overflow: hidden;
    #mobile-nav {
        left: 0;
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            position: relative;
            a {
                color: $text-color;
                font-size: 16px;
                overflow: hidden;
                padding: 10px 22px 10px 15px;
                position: relative;
                text-decoration: none;
                width: 100%;
                display: block;
                outline: none;
                &:hover {
                    color: $text-color;
                }
            }
            li {
                padding-left: 30px;
            }
        }
        .menu-has-children svg {
            height: 25px;
            position: absolute;
            right: 0;
            cursor: pointer;
            color: $text-color;
            padding: 5px;
            font-size: 2rem;
            margin: 10px 10px;
            &.fa-chevron-up {
                color: $primary;
            }
        }
        .menu-item-active {
            color: $primary;
        }
    }
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

/* ==================================================
  About Styling
================================================== */

.about {
    p {
        font-size: 150%;
        color: $white;
    }
}

/* ==================================================
  Stats Styling
================================================== */

.timeline {
    .stats-row {
        margin-top: 65px;
    }

    .ratio-1-1 {
        padding: 50%;
    }

    .stats-col .circle {
        content: "";
        font-weight: 500;
        color: white;
        border: 6px solid #0878a4;
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .stats-no {
            color: $text-color;
            background-color: #E04F00;
            width: 35%;
            height: 35%;
            display: table;
            top: -4%;
            right: -4%;
            font-size: 2rem;
            position: absolute;
            border-radius: 50%;
            font-weight: 700;
            font-size: 150%;
            z-index: 1;
            a {
                vertical-align: middle;
                display: table-cell;
            }
        }
        .circle-overflow {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            * {
                transition: all 0.3s ease;
            }
            .circle-content,
            .circle-overlay {
                height: 100%;
                width: 100%;
                a {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 75%;
                    max-height: 75%;
                    overflow-wrap: break-word;
                    overflow: hidden;
                }
            }
            .circle-content {
                a {
                    font-size: 170%;
                    @media (min-width: map-get($grid-breakpoints, "sm")) {
                        font-size: 190%;
                    }
                    @media (min-width: map-get($grid-breakpoints, "md")) {
                        font-size: 150%;
                    }
                    @media (min-width: map-get($grid-breakpoints, "xl")) {
                        font-size: 140%;
                    }
                    @media (min-width: 1600px) {
                        font-size: 200%;
                    }
                    @media (min-width: 2000px) {
                        font-size: 250%;
                    }
                    @media (min-width: 2400px) {
                        font-size: 300%;
                    }
                    width: 100%;
                }
            }
            .circle-overlay {
                a {
                    max-width: 80%;
                    max-height: 80%;
                    font-size: 80%;
                    @media (min-width: 384px) {
                        font-size: 100%;
                    }
                    @media (min-width: map-get($grid-breakpoints, "sm")) {
                        font-size: 95%;
                    }
                    @media (min-width: map-get($grid-breakpoints, "md")) {
                        font-size: 75%;
                    }
                    @media (min-width: map-get($grid-breakpoints, "lg")) {
                        font-size: 99%;
                    }
                    @media (min-width: map-get($grid-breakpoints, "xl")) {
                        font-size: 70%;
                    }
                    @media (min-width: 1600px) {
                        font-size: 100%;
                    }
                    @media (min-width: 1920px) {
                        font-size: 113%;
                    }
                    @media (min-width: 2400px) {
                        font-size: 160%;
                    }
                    width: 100%;
                }
                position: absolute;
                top: 0;
                left: 0;
                color: $white;
                opacity: 0;
                background-color: rgba($primary-dark, 0.85);
            }
            &:hover {
                .circle-overlay {
                    opacity: 1;
                }
            }
        }
    }
}

/* ==================================================
  Parallax Styling
  ================================================== */

.block {
    color: $text-color;
    height: 490px;
    overflow: hidden;
    padding-top: 85px;
    h2 {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    p {
        color: $text-color;
        margin-bottom: 45px;
    }
}

/* ==================================================
  Features Styling
  ================================================== */

.features {
    padding-bottom: 45px;

    .feature-col {
        display: table;
        padding-bottom: 45px;
        &>div>div {
            display: table-cell;
            vertical-align: middle;

            &:last-child {
                // padding-left: 20px;
            }
        }
        .card {
            background-color: initial;
        }
        .feature-icon {
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
            background: $primary;
            color: $text-color;
            font-size: 24px;
            text-align: center;
            line-height: 70px;
            border-radius: 50%;
            display: inline-block;
        }
        p {
            font-size: 14px;
            color: white;
        }
    }
}

/* ==================================================
  Call-to-action Styling
  ================================================== */

.cta {
    background-color: $primary;
    padding: 25px 0;
    h2 {
        margin-bottom: 5px;
        color: $text-color;
    }
    p {
        color: $text-color;
        margin-bottom: 0;
        opacity: .75;
    }
    .btn-ghost {
        position: relative;
        top: 13px;
    }
}

/* ==================================================
  Portfolio Styling
  ================================================== */

.portfolio {
    background-color: #2d0589; // padding-bottom: 0;
    h2 {
        color: $primary-word;
        margin-bottom: 25px;
    }
}

.portfolio-grid {
    margin-top: 65px;
    .row {
        &>div {
            padding: 0;
            .card {
                background-color: transparent;
                img {
                    width: 100%;
                }
                .portfolio-over {
                    position: absolute;
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    top: 0;
                    left: 0;
                    text-align: center;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    &>div {
                        position: relative;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    .card-title {
                        color: $text-color;
                        font-size: 30px;
                    }
                    .card-text {
                        color: $text-color;
                        opacity: .75;
                        padding: 0 45px;
                    }
                }
                &:hover {
                    .portfolio-over {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}







/* ==================================================
  Team Styling
  ================================================== */

.team {
    h2 {
        color: $primary-word;
    }
    .card {
        &>a {
            display: block;
        }
        img {
            width: 100%;
        }
        h4 {
            color: $text-color;
            text-transform: uppercase;
        }
        p {
            font-size: 11px;
            color: $text-color;
            opacity: .75;
            margin: 0;
            padding: 0 35px;
        }
        .social-nav {
            margin-bottom: 45px;
            a {
                color: $text-color;
                font-size: 16px;
                margin: 0 4px;
                &:hover {
                    opacity: .75;
                }
            }
        }
        &:hover {
            .team-over {
                opacity: 1;
                visibility: visible;
            }

            .card-title-wrap {
                background-color: $primary;


                .card-title,
                .card-text {
                    color: $text-color;
                }
            }
        }
    }

    .team-over {
        padding-top: 45px;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .card-title-wrap {
        padding: 15px 25px;
        position: relative;
        z-index: 9;
        background-color: #fff;

        .card-title,
        .card-text {
            display: block;
            margin: 0;
        }

        .card-title {
            font-size: 24px;
            color: white;
        }

        .card-text {
            font-size: 18px;
            color: white;
        }
    }

}








/* ==================================================
  Contact Section
  ================================================== */

#contact {
    // background: #f7f7f7;
    padding: 80px 0;
}

#contact h2 {
    color: $primary;
}

#contact .info svg {
    font-size: 32px;
    color: $primary;
    float: left;
}

#contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
}

#contact .form #sendmessage {
    color: $primary;
    border: 1px solid $primary;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#contact .form button[type="submit"] {
    background: $primary;
    border: 0;
    padding: 10px 24px;
    color: $text-color;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
    background: #23c2e1;
}

/* ==================================================
  Footer Styling
  ================================================== */

.site-footer {
    background-color: #111;
    padding: 0;
}

.site-footer h2,
.site-footer p {
    color: $text-color;
}

.site-footer p {
    opacity: .75;
    line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
    margin-bottom: 25px;
}

.site-footer .social-nav a {
    color: $text-color;
    opacity: .25;
}

.site-footer .social-nav a:hover {
    opacity: 1;
}

.site-footer .bottom {
    background-color: black;
    padding: 20px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
    margin: 0;
}

.site-footer .bottom .list-inline {
    position: relative;
    top: 5px;
}

.site-footer .bottom .list-inline a {
    color: $text-color;
    margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
    color: $primary;
}

.site-footer .credits {
    color: #ddd;
}

.site-footer .credits a {
    color: $primary;
}







/* ==================================================
  Responsive Styling
  ================================================== */

@media (max-width: map-get($grid-breakpoints, "lg")) {
    section,
    .block,
    .cta {
        padding: 60px 0;
    }
    .features {
        padding-bottom: 5px;
    }
    p,
    .block p {
        margin: 0;
        color: white;
    }
    .hero-brand {
        margin-bottom: 35px;
    }
    .tagline {
        margin: 35px 0;
    }
    h2,
    .tagline {
        font-size: 24px;
    }
    h2 {
        margin-bottom: 25px;
        color: white;
    }
    h3 {
        font-size: 14px;
        color: white;
    }
    .hero {
        padding: 75px 0;
    }
    .stats-col {
        margin-bottom: 25px;
    }
    .block {
        height: auto;
    }
    .feature-col {
        padding-bottom: 30px;
    }
    .portfolio-grid .card h3.card-title {
        font-size: 18px !important;
    }
    .portfolio-grid .card .card-text {
        font-size: 13px;
    }
    .team .team-over {
        padding-top: 20px;
    }
    .team .card .social-nav {
        margin-bottom: 15px;
        padding: 0;
    }
    .site-footer .social-nav {
        margin-bottom: 35px;
    }
    .site-footer .list-inline {
        text-align: center;
        padding-bottom: 15px;
    }
    .site-footer .list-inline li {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .block {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.sponsors {
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: 50% 50%;
    transform: scale(0.85);
    &.atomax {
        background-image: url(../img/sponsors/atomax.png);
    }
    &.taidoc {
        background-image: url(../img/sponsors/taidoc.png);
    }
    &.litenet {
        background-image: url(../img/sponsors/litenet.png);
    }
    &.opro9 {
        background-image: url(../img/sponsors/opro9.png);
    }
    &.qblinks {
        background-image: url(../img/sponsors/qblinks.png);
    }
    &.sigmu {
        background-image: url(../img/sponsors/sigmu.png);
    }
    &.studioa {
        background-image: url(../img/sponsors/studioa.png);
    }
    &.rtc {
        background-image: url(../img/sponsors/rtc.png);
    }
    &.eql {
        background-image: url(../img/sponsors/eql.png);
    }
    &.pawbo {
        background-image: url(../img/sponsors/pawbo.png);
    }
    &.straighta {
        background-image: url(../img/sponsors/straighta.png);
    }
    &.apple {
        background-image: url(../img/sponsors/apple.png);
    }
    &.fcu {
        background-image: url(../img/sponsors/fcu-big.png);
    }
    &.tracmo {
        background-image: url(../img/sponsors/tracmo.png);
    }
}
